<a 
    class="list-group-item d-flex justify-content-between align-items-start" 
    href="<%= url_for ({controller: "messages", action: "show", id: element.id}) %>"
>
    <div 
        class="ms-2 me-auto"
    >
        <% last_message = element.messages.last %>
        <% if last_message %>
        <%= User.find(last_message.users_id).email %>:
        <%= last_message.content %>
        <% end %>
    </div>
    <span 
        class="badge bg-primary rounded-pill"
    >
        <% if last_message %>
        <%= last_message.updated_at.strftime('%d.%m.%Y %H:%M') %>
        <% end %>
    </span>
</a>