<div class="card message <% if element.users_id == current_user.id %>border-success<% end %>">
  <div class="card-header">
    <%= User.find(element.users_id).email %>
  </div>
  <div class="card-body">
    <p class="card-text">
      <%= element.content %>
    </p>
  </div>
  <div class="card-footer">
    <%= element.created_at.strftime('%d.%m.%Y %H:%M') %>
    <% if element.updated_at != element.created_at %>
        | <%= element.updated_at.strftime('%d.%m.%Y %H:%M') %>
    <% end %>
  </div>
</div>