<div class="container">
  <h1>Conversations page</h1>
  <button class="btn btn-success mb-2">New conversation</button>
  <% if @elements %>
  <div class="row">
    <div class="col-lg-6">
      <ol class="list-group">
        <% @elements.each do |element| %>
          <%= render partial: 'conversation', :locals => {:element => element} %>
        <% end %>
      </ol>
    </div>
  </div>
  <% else %>
  No conversations yet
  <% end %>
</div>