<div class="card" style="width: 18rem;">
  <div class="card-header">
    
  </div>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
  </div>
  <div class="card-footer">
    <a class="btn btn-success" href="#" style="margin-right: 10px">Accept</a>
    <a class="btn btn-danger" href="#">Deny</a>
  </div>
</div>