<h1>Add Contacts</h1>

<%= form_with(model: @contact, local: true) do |form| %>
  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="actions">
    <%= form.submit "Add Contact" %>
  </div>
<% end %>
